<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Labyrinth</title>
        <link rel="stylesheet" href="external/codemirror.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

        <script type="text/javascript" src="external/pixi.js"></script>
        <script type="text/javascript" src="external/codemirror.js"></script>
        <script type="text/javascript" src="external/javascript.js"></script>
        <script type="text/javascript" src="Global.js"></script>
        <script type="text/javascript" src="animaiton/Renderer.js"></script>
        <script type="text/javascript" src="ModuleLoader.js"></script>
        <script type="text/javascript" src="background/Background.js"></script>
        <script type="text/javascript" src="labyrinth/Labyrinth.js"></script>
        <script type="text/javascript" src="player/Player.js"></script>
        <script type="text/javascript" src="player/PlayerManager.js"></script>
        <script type="text/javascript" src="Clock.js"></script>
        <script type="text/javascript" src="main.js"></script>
        <script type="text/javascript" src="InputManager.js"></script>
        <script type="text/javascript" src="ServerManager.js"></script>
        <script type="text/javascript" src="Legend.js"></script>

    </body>
</html>