#input {
    border: solid #000000;
    position: relative;
    top: 10px;
}

#buttons {
    position: relative;
    top: 15px;
}

#table {
    position: relative;
    top: 15px;
    background-color: black;
}
