<!DOCTYPE html>
<html lang="en">
<head>
    <!-- views/partials/head.ejs -->

    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>
<body class="container">

<script src="./login/login.js"></script>

<main>
    <div class="jumbotron">

            <label>Name</label>
            <input type="text" name="name" id="name_input">

            <button id="test_button">Create bot</button> <!-- should go to login-->

            <button id="deathMatch_button">Death Match</button> <!-- should go to deathmatch-->
    </div>
</main>

</body>
</html>
